<body>
<a href="https://williamyzhang.github.io/datavis/cars/"><img src=https://williamyzhang.github.io/images/datavis-preview.png width="340" height="200" alt="cars preview"></a>
<a href="https://williamyzhang.github.io/datavis/pop-density/"><img src=https://williamyzhang.github.io/images/datavis-preview2.png width="200" height="200" alt="density preview"></a>
<a href="https://williamyzhang.github.io/datavis/wonders/"><img src=https://williamyzhang.github.io/images/datavis-preview3.png width="380" height="200" alt="map preview"></a>
</body>