<p>"Dog Days Are Over" -- psychedelic acoustic-driven track. Lyrically, this song is about nostalgia and growing up.</p>
<audio controls>
    <source src="https://williamyzhang.github.io/portfolio/files/dog-days.wav#t=00:00:42" type="audio/wav">
    Your browser does not support the audio element.
</audio>
<p>"Potato Smiles" -- Midwest emo-influenced, a tongue-in-cheek look at melodromatic personal moments no one else understands.</p>
<audio controls>
    <source src="https://williamyzhang.github.io/portfolio/files/potato-smiles.wav#t=00:00:54" type="audio/wav">
    Your browser does not support the audio element.
</audio>
<p>"&park" -- an exercise in different textures.</p>
<audio controls>
    <source src="https://williamyzhang.github.io/portfolio/files/in-this-town.wav#t=00:00:40" type="audio/wav">
    Your browser does not support the audio element.
</audio>
