<html>
    <body>
    
        <div style="background-color:#bcc7d6; border-radius: 24px; padding: 6px; padding-top: 0px;">

            <h2>Video: The Censored Radiohead Song</h2> 
            <a href="https://www.youtube.com/watch?v=gQxfdacPpgo" target="_blank">
                <img src="https://img.youtube.com/vi/gQxfdacPpgo/0.jpg" 
                    alt="Video thumbnail"></a>
            <p>A short video I researched, wrote, and edited about the history and context surrounding Radiohead's song "Pop Is Dead", which ultimately garnered over 200k views. I was inspired to create it when I discovered the song through an unofficial Vimeo upload and realized I had never heard of it because the band had actively removed it from any official online record. In the video, I delve into how the song came about and why Radiohead might have decided that they didn't want it online.</p>
            
        </div>
        
        <div style="padding: 6px; padding-top: 0px;">

            <h2> 31-EDO Digital Keyboard </h2>
            <a href="https://williamyzhang.github.io/keyboard/" target="_blank"><img src="https://williamyzhang.github.io/keyboard/31edo-keyboard.jpg" alt="Keyboard picture" 
                title="Try out the keyboard"></a>

            <p>I created this web synth to play with melodies and harmonies beyond the 12 notes of the Western scale. Specifically, the user can play notes tuned in 31-EDO (equal divisions of the octave) using their computer keyboard, allowing them to access 31 different notes instead of just 12. The user can also switch back to standard 12-EDO if they wish. Furthermore, this webpage functions as a simple synthesizer, with several options to customize the sound produced.
            This is a spinoff of a project for my Computational Sound course.
            <br><br>
            Works best in Chrome.
            </p>
        </div>  
        
        <div style="background-color:#bcc7d6; border-radius: 24px; padding: 6px; padding-top: 0px;" >

            <h2> Fiction: In Memory of Peter Mettier</h2>
            <a href="https://williamyzhang.github.io/portfolio/files/in-memory-of-peter-mettier.pdf" 
                target="_blank" style="color:#e0fff0">Read the story here</a>
            
            <p>A short story I originally wrote for a creative writing group at Oxford. I aim to explore themes of memory, legacy, and ambition through a portrayal of life in the Midwest.
            </p>
        </div>

        <div style="padding: 6px; padding-top: 0px;">
            <h2>Data Visualization Samples</h2>
            <a href="https://williamyzhang.github.io/datavis/cars/" target="_blank"><img src=https://williamyzhang.github.io/images/datavis-preview.png style="width:340px;height:200px" alt="cars preview"></a>

            <a href="https://williamyzhang.github.io/datavis/pop-density/" target="_blank"><img src=https://williamyzhang.github.io/images/datavis-preview2.png width="200" height="200" alt="density preview"></a>
            
            <a href="https://williamyzhang.github.io/datavis/wonders/" target="_blank"><img src=https://williamyzhang.github.io/images/datavis-preview3.png width="380" height="200" alt="map preview"></a>
            <p>Some examples of interactive data visualizations made in the JavaScript D3 library. Originally made for a class, with some modifications.</p>
        </div>

         <div style="background-color:#bcc7d6; border-radius: 24px; padding: 6px; padding-top: 0px;">

            <h2> Music: Instrumentals</h2>
            <p>"Dog Days Are Over": psychedelic acoustic-driven track about nostalgia and growing up.</p>
            <audio controls>
                <source src="https://williamyzhang.github.io/portfolio/files/dog-days.wav#t=00:00:42" type="audio/wav">
                Your browser does not support the audio element.
            </audio>
            <p>"Potato Smiles": Midwest emo-influenced, a tongue-in-cheek look at melodromatic personal moments no one else understands.</p>
            <audio controls>
                <source src="https://williamyzhang.github.io/portfolio/files/potato-smiles.wav#t=00:00:54" type="audio/wav">
                Your browser does not support the audio element.
            </audio>
            <p>"&park": an exercise in varying textures.</p>
            <audio controls>
                <source src="https://williamyzhang.github.io/portfolio/files/in-this-town.wav#t=00:00:40" type="audio/wav">
                Your browser does not support the audio element.
            </audio>

            <p>These are instrumentals from songs I wrote and produced with the vocal tracks removed, so that the listener can better focus on their musical composition and structure.
            </p>
            <a href="https://jupitergarage.bandcamp.com/album/instrumentals" 
                target="_blank" style="color:#e0fff0">Here are other tracks</a>
            <br><br>
        </div>


        <div style="padding: 6px; padding-top: 0px;">
            <h2> Essay: The Better Symphony </h2>

            <a href="https://williamyzhang.github.io/portfolio/files/the-better-symphony-beethoven-paper.pdf" 
            target="_blank">Read the paper here</a>

            <p>A short paper I researched and wrote about Beethoven's 8th Symphony. This paper was written for Prof. Sisman's class on Beethoven, which was one of my favorite classes I took at Columbia. I draw on the past century of work in musicology to come to a better understanding of one of Beethoven's more mysterious and less popular symphonies, the 8th. 
            </p>

        </div>

    </body>
</html>